---
import "./globals.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" rel="stylesheet">
		<title>heist 7.2</title>
	</head>
	<body>
		<div class="title">
			<h1>heist 7.2</h1>
		</div>

		<div class="cell">
			<p>name</p>
			<p class="status">status</p>
		</div>
		
	</body>
</html>
